eureka:
  instance:
    preferIpAddress: true
    hostname: localhost
  client:  # Not a client, don't register with yourself
    registerWithEureka: false
    fetchRegistry: false
  server:
      enableSelfPreservation: false
  security:
    basic:
      enabled: false

server:
  port: 8761   # HTTP (Tomcat) port

# Discovery server Dashboard uses FreeMarker.  Don't want Thymeleaf templates
spring:
  thymeleaf:
    enabled: false     # Disable Thymeleaf